body {
  width:100%;
  margin-bottom: 10em;
}

header {
  width:100vw;
  position: sticky;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.carouseltext {
  color: white;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.carouselimg {
  object-fit: fill;
  width: 65vw;
  height: 45vh;
}

.mobilecarousel {
  object-fit: fill;
  width: 80vw;
  height: 40vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.desktop {
  display: none;
}
.cardheight {
  height: 35em;
}
.footercarousel {
  background-image: url("./images/grassbanner.jpg");
  background-size: auto;
  height: 10vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left:0;
}
.footerlogolt {
  width: 10em;
  position: absolute;
  top:2em;
  left:2em;

}
.footerlogort {
  width: 10em;
  position: absolute;
  top:2em;
  right:2em;

}
.footercarouselmobile {
  background-image: url("./images/grassbanner.jpg");
  background-size: auto;
  height: 10vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left:0;
}
.mobilefooterlogolt {
  width: 5em;
  position: absolute;
  top:1.5em;
  left:0.5em;

}

.mobilefooterlogort {
  width: 5em;
  position: absolute;
  top:1.5em;
  right:0.5em;

}


@media only screen and (min-width: 1200px) {
  .mobile {
      display: none;
  }

  .desktop {
      display: inline;
  }

  .card-container {
      margin-left: 2px;
      margin-right: 2px;
  }
}

